input {
  border: none;
  font: inherit;
  width: 50px;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.col:not(:last-child) {
  margin-right: 150px;
}

.timerControls {
  margin-top: 30px;
  
}
.btn:not(:last-child) {
  margin-right: 10px;
}
